/conduit-backend-tests/node_modules
/conduit-backend-tests/public/hot
/conduit-backend-tests/public/storage
/conduit-backend-tests/storage/*.key
/conduit-backend-tests/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/vue3-realworld-example-app/node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/vue3-realworld-example-app/cypress/videos/
/vue3-realworld-example-app/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?