Cannot load Xdebug - it was already loaded
Cannot load Xdebug - it was already loaded

   PASS  Tests\Unit\UserTest
  ✓ [2mget route key name[22m
  ✓ [2marticles[22m
  ✓ [2mfavourite articles[22m
  ✓ [2mfollowers[22m
  ✓ [2mfollowing[22m
  ✓ [2mdoes user follow another user[22m
  ✓ [2mdoes user follow article[22m
  ✓ [2mset password attribute[22m
  ✓ [2mget j w t identifier[22m

   PASS  Tests\Feature\ArticleTest
  ✓ [2mshow article[22m

  Tests:  10 passed
  Time:   0.53s

[0mGET /__/ [32m200 [0m3.899 ms - -[0m
[0mGET /__/assets/index-fdbb1606.css [32m200 [0m1.522 ms - -[0m
[0mGET /__/assets/polyfills-35d4ed68.js [32m200 [0m8.808 ms - -[0m
[0mGET /__/assets/index-8631b600.js [32m200 [0m2.054 ms - -[0m
[0mGET /__cypress/runner/cypress_runner.css [32m200 [0m2.409 ms - -[0m
[0mGET /__/assets/Specs-90d8c04d.js [32m200 [0m3.367 ms - 523[0m
[0mGET /__/assets/route-block-c0a8bdd8.js [32m200 [0m4.445 ms - 45[0m
[0mGET /__/assets/TrackedBanner.vue_vue_type_script_setup_true_lang-3963d67e.js [32m200 [0m5.568 ms - -[0m
[0mGET /__/assets/InlineCodeFragment-63f519c9.css [32m200 [0m4.938 ms - 310[0m
[0mGET /__/assets/Index-f90bad12.css [32m200 [0m10.198 ms - -[0m
[0mGET /__/assets/InlineCodeFragment.vue_vue_type_script_setup_true_lang-a05a72f1.js [32m200 [0m5.421 ms - -[0m
[0mGET /__/assets/box-open_x48-cc9a16a8.js [32m200 [0m11.225 ms - -[0m
[0mGET /__/assets/SpecPatterns.vue_vue_type_script_setup_true_lang-0af37847.js [32m200 [0m10.929 ms - -[0m
[0mGET /__/assets/Index-847c5297.js [32m200 [0m5.480 ms - -[0m
[0mGET /__/assets/graphql-f2d7cc94.js [32m200 [0m3.293 ms - 535[0m
[0mGET /__/assets/SpecNameDisplay.vue_vue_type_script_setup_true_lang-c5d8dec4.js [32m200 [0m2.062 ms - -[0m
[0mGET /__/assets/PromoHeader.vue_vue_type_script_setup_true_lang-ed80147f.js [32m200 [0m17.784 ms - -[0m
[0mGET /__/assets/settings_x16-543bc7ee.js [32m200 [0m1.224 ms - -[0m
[0mGET /chrome-variations/seed?osname=linux&channel=stable&milestone=115 [36m304 [0m663.159 ms - -[0m
[0mGET /__/assets/cypress_s-29af549a.png [32m200 [0m38.788 ms - 4425[0m
[0mPOST /ListAccounts?gpsia=1&source=ChromiumBrowser&json=standard [32m200 [0m690.220 ms - -[0m
[0mGET /__/assets/chrome-98045c79.svg [32m200 [0m2.313 ms - -[0m
[0mGET /__/assets/electron-fb07f5cc.svg [32m200 [0m1.980 ms - -[0m
[0mGET /__/assets/firefox-9be61e66.svg [32m200 [0m1.732 ms - -[0m
[0mGET /__cypress/runner/cypress_runner.js [32m200 [0m2.179 ms - -[0m
[0mGET /v1/pages/ChVDaHJvbWUvMTE1LjAuNTc5MC4xNzASEAmZ_btOmwfnBhIFDRNQn9Q=?alt=proto [32m200 [0m631.865 ms - -[0m
[0mGET /__/assets/Switch.vue_vue_type_script_setup_true_lang-e2797dd4.js [32m200 [0m1.894 ms - -[0m
[0mGET /__/assets/refresh_x16-e173c555.js [32m200 [0m1.728 ms - -[0m
[0mGET /__/assets/Runner-ad79f59f.css [32m200 [0m1.547 ms - -[0m
[0mGET /__/assets/Runner-a7bb1bd7.js [32m200 [0m1.986 ms - -[0m
[0mGET /__cypress/iframes/cypress%2Fe2e%2FUseCase.cy.ts?browserFamily=chromium [32m200 [0m5.705 ms - -[0m
[0mGET /v1/pages/ChVDaHJvbWUvMTE1LjAuNTc5MC4xNzASFwkyWoxKH6I8mBIFDTec3tMSBQ2RYZVO?alt=proto [32m200 [0m539.072 ms - -[0m
[0mGET /__cypress/tests?p=cypress/e2e/UseCase.cy.ts [32m200 [0m514.635 ms - -[0m
[0mGET /__cypress/tests?p=cypress/support/e2e.ts [32m200 [0m1368.562 ms - -[0m
[0mGET / [32m200 [0m7.923 ms - -[0m
[0mGET /assets/index-20175721.js [32m200 [0m25.047 ms - -[0m
[0mGET /ionicons/2.0.1/css/ionicons.min.css [32m200 [0m79.634 ms - -[0m
[0mGET /main.css [32m200 [0m228.293 ms - -[0m
[0mGET /css?family=Titillium+Web:700%7CSource+Serif+Pro:400,700%7CMerriweather+Sans:400,700%7CSource+Sans+Pro:400,300,600,700,300italic,400italic,600italic,700italic [32m200 [0m585.878 ms - -[0m
[0mGET /assets/Register-78cce4fc.js [32m200 [0m11.809 ms - -[0m
[0mGET /s/titilliumweb/v17/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzYw.woff2 [32m200 [0m59.369 ms - -[0m
[0mGET /s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu.woff2 [32m200 [0m61.499 ms - -[0m
[0mGET /s/sourcesanspro/v22/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2 [32m200 [0m58.955 ms - -[0m
[0mGET /v1/pages/ChVDaHJvbWUvMTE1LjAuNTc5MC4xNzASLAn6WzLrDD34wRIFDTec3tMSBQ2RYZVOEgUNkWGVThIFDVALr7ASBQ01hlQcEhcJMlqMSh-iPJgSBQ03nN7TEgUNkWGVThIeCVMn-1nKnal1EgUNkWGVThIFDVALr7ASBQ01hlQc?alt=proto [32m200 [0m536.600 ms - -[0m
[0mOPTIONS /api/users [32m204 [0m152.956 ms - -[0m
[0mPOST /api/users [32m200 [0m141.923 ms - -[0m
[0mOPTIONS /api/articles?limit=10&offset=0 [32m204 [0m24.468 ms - -[0m
[0mGET /s/sourcesanspro/v22/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDI.woff2 [32m200 [0m14.593 ms - -[0m
[0mGET /ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1 [32m200 [0m27.755 ms - -[0m
[0mGET /api/articles?limit=10&offset=0 [0m- [0m- ms - -[0m
[0mOPTIONS /api/tags [32m204 [0m39.664 ms - -[0m
[0mGET / [32m200 [0m3.093 ms - -[0m
[0mGET /assets/index-20175721.js [36m304 [0m9.176 ms - -[0m
[0mGET /assets/Login-79e64583.js [32m200 [0m54.623 ms - -[0m
[0mGET /v1/pages/ChVDaHJvbWUvMTE1LjAuNTc5MC4xNzASJQmjtZXOiLNzTBIFDTec3tMSBQ2RYZVOEgUNUAuvsBIFDTWGVBwSFwkyWoxKH6I8mBIFDTec3tMSBQ2RYZVOEhcJJj12nBptVoQSBQ1QC6-wEgUNNYZUHA==?alt=proto [32m200 [0m537.368 ms - -[0m
[0mOPTIONS /api/users/login [32m204 [0m14.763 ms - -[0m
[0mPOST /api/users/login [32m200 [0m75.235 ms - -[0m
[0mOPTIONS /api/articles?limit=10&offset=0 [32m204 [0m26.782 ms - -[0m
[0mGET /assets/Profile-4ad01f89.js [32m200 [0m21.903 ms - -[0m
[0mGET /assets/useProfile-9ccf278d.js [32m200 [0m20.135 ms - -[0m
[0mOPTIONS /api/tags [32m204 [0m43.318 ms - -[0m
[0mGET /assets/Profile-769ca201.css [32m200 [0m25.397 ms - -[0m
[0mGET /ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1 [32m200 [0m39.153 ms - -[0m
[0mGET /api/articles?limit=10&offset=0 [32m200 [0m50.153 ms - -[0m
[0mGET /api/tags [32m200 [0m53.733 ms - -[0m
[0mOPTIONS /api/profiles/test [32m204 [0m61.820 ms - -[0m
[0mOPTIONS /api/articles?author=test&limit=10&offset=0 [32m204 [0m73.975 ms - -[0m
[0mGET /api/profiles/test [31m500 [0m61.874 ms - -[0m
[0mGET /api/articles?author=test&limit=10&offset=0 [32m200 [0m77.191 ms - -[0m
[0mOPTIONS /api/articles?favorited=test&limit=10&offset=0 [32m204 [0m24.971 ms - -[0m
[0mGET / [32m200 [0m2.794 ms - -[0m
[0mGET /assets/index-20175721.js [36m304 [0m8.129 ms - -[0m
[0mGET /assets/Login-79e64583.js [36m304 [0m10.456 ms - -[0m
[0mOPTIONS /api/users/login [32m204 [0m21.741 ms - -[0m
[0mPOST /api/users/login [32m200 [0m74.284 ms - -[0m
[0mOPTIONS /api/articles?limit=10&offset=0 [32m204 [0m23.639 ms - -[0m
[0mGET /assets/EditArticle-2995fd32.js [32m200 [0m12.848 ms - -[0m
[0mOPTIONS /api/tags [32m204 [0m41.794 ms - -[0m
[0mGET /api/articles?limit=10&offset=0 [32m200 [0m55.603 ms - -[0m
[0mGET /api/tags [32m200 [0m65.149 ms - -[0m
[0mGET /v1/pages/ChVDaHJvbWUvMTE1LjAuNTc5MC4xNzASMwkomEANSVyImBIFDTec3tMSBQ2RYZVOEgUNkWGVThIFDZFhlU4SBQ0G7bv_EgUNkWGVThIXCTJajEofojyYEgUNN5ze0xIFDZFhlU4SJQmoSXHALQI17RIFDZFhlU4SBQ2RYZVOEgUNBu27_xIFDZFhlU4=?alt=proto [32m200 [0m535.793 ms - -[0m
[0mOPTIONS /api/articles [32m204 [0m31.144 ms - -[0m
[0mPOST /api/articles [32m201 [0m40.642 ms - -[0m
[0mGET /assets/useProfile-9ccf278d.js [36m304 [0m8.710 ms - -[0m
[0mGET /assets/Article-63b65494.css [32m200 [0m17.454 ms - -[0m
[0mGET /assets/Article-8f87f06a.js [32m200 [0m15.518 ms - -[0m
[0mOPTIONS /api/articles/title [32m204 [0m21.444 ms - -[0m
[0mGET /api/articles/title [0m- [0m- ms - -[0m
[0mOPTIONS /api/articles/title/comments [32m204 [0m39.889 ms - -[0m
[0mGET / [32m200 [0m3.049 ms - -[0m
[0mGET /assets/index-20175721.js [36m304 [0m9.371 ms - -[0m
[0mGET /assets/Login-79e64583.js [36m304 [0m8.454 ms - -[0m
[0mOPTIONS /api/users/login [32m204 [0m22.357 ms - -[0m
[0mPOST /api/users/login [32m200 [0m73.092 ms - -[0m
[0mOPTIONS /api/articles?limit=10&offset=0 [32m204 [0m20.324 ms - -[0m
[0mOPTIONS /api/tags [32m204 [0m35.325 ms - -[0m
[0mGET /api/articles?limit=10&offset=0 [32m200 [0m45.857 ms - -[0m
[0mGET /api/tags [32m200 [0m47.555 ms - -[0m
[0mGET /s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu.woff2 [32m200 [0m10.854 ms - -[0m
[0mGET /assets/Article-8f87f06a.js [36m304 [0m19.724 ms - -[0m
[0mGET /assets/useProfile-9ccf278d.js [36m304 [0m20.340 ms - -[0m
[0mGET /assets/Article-63b65494.css [36m304 [0m24.425 ms - -[0m
[0mOPTIONS /api/articles/title [32m204 [0m25.110 ms - -[0m
[0mOPTIONS /api/articles/title/comments [32m204 [0m31.994 ms - -[0m
[0mGET /api/articles/title [32m200 [0m34.458 ms - -[0m
[0mGET /api/articles/title/comments [32m200 [0m41.288 ms - -[0m
[0mGET /s/sourceserifpro/v17/neIQzD-0qpwxpaWvjeD0X88SAOeauXQ-oA.woff2 [32m200 [0m10.913 ms - -[0m
[0mOPTIONS /api/articles/title/favorite [32m204 [0m15.501 ms - -[0m
[0mOPTIONS /api/profiles/test0 [32m204 [0m39.176 ms - -[0m
[0mGET /api/profiles/test0 [31m500 [0m47.388 ms - -[0m
[0mPOST /api/articles/title/favorite [32m200 [0m89.630 ms - -[0m
[0mGET /assets/Profile-4ad01f89.js [36m304 [0m7.084 ms - -[0m
[0mGET /assets/Profile-769ca201.css [36m304 [0m7.058 ms - -[0m
[0mOPTIONS /api/profiles/test0 [32m204 [0m16.949 ms - -[0m
[0mOPTIONS /api/articles?favorited=test0&limit=10&offset=0 [32m204 [0m27.104 ms - -[0m
[0mGET /api/profiles/test0 [31m500 [0m46.358 ms - -[0m
[0mGET /api/articles?favorited=test0&limit=10&offset=0 [32m200 [0m62.668 ms - -[0m
[0mGET / [32m200 [0m3.050 ms - -[0m
[0mGET /assets/index-20175721.js [36m304 [0m7.351 ms - -[0m
[0mGET /assets/Login-79e64583.js [36m304 [0m8.456 ms - -[0m
[0mOPTIONS /api/users/login [32m204 [0m28.331 ms - -[0m
[0mPOST /api/users/login [32m200 [0m74.892 ms - -[0m
[0mGET /assets/Profile-4ad01f89.js [36m304 [0m8.561 ms - -[0m
[0mGET /assets/useProfile-9ccf278d.js [36m304 [0m6.753 ms - -[0m
[0mGET /assets/Profile-769ca201.css [36m304 [0m6.614 ms - -[0m
[0mOPTIONS /api/articles?limit=10&offset=0 [32m204 [0m30.312 ms - -[0m
[0mOPTIONS /api/tags [32m204 [0m45.164 ms - -[0m
[0mOPTIONS /api/profiles/test [32m204 [0m38.615 ms - -[0m
[0mOPTIONS /api/articles?author=test&limit=10&offset=0 [32m204 [0m48.339 ms - -[0m
[0mGET /api/articles?limit=10&offset=0 [32m200 [0m78.250 ms - -[0m
[0mGET /api/tags [32m200 [0m82.192 ms - -[0m
[0mGET /api/profiles/test [31m500 [0m130.535 ms - -[0m
[0mGET /api/articles?author=test&limit=10&offset=0 [32m200 [0m153.611 ms - -[0m
[0mPOST /v1:GetModels?key=AIzaSyBOti4mM-6x9WDnZIjIeyEU21OpBXqWBgw [32m200 [0m627.823 ms - -[0m
[0mGET /__cypress/runner/fonts/fa-solid-900.woff2 [32m200 [0m0.882 ms - 126828[0m
The automation client disconnected. Cannot continue running tests.
